footer
  .container.text-center
    p.float-left Created by 
      a(href='https://www.linkedin.com/in/kieran-warwick/') Kieran Warwick 
      | at the University of Bath
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/kw510/interactive-turing') GitHub Project
      li.list-inline-item
        a(href='https://github.com/kw510/interactive-turing/issues') Issues