hr
h3 How to play
ul
  li
    p.lead Create a state by clicking the blank circle
  li
    p.lead Create a subroutine by clicking the diamond (if a subroutine exists)
  li
    p.lead Select a transition to assign to a state by first clicking it and then dragging from one state to another
    
      p A transition is in the form Read : Write Move. The Kleene star (*) can read any symbol and writes what is on the tape, for example: * : * reads anything and writes it back onto the tape.
  li
    p.lead Assign a final state by double clicking a state
  li
    p.lead Then you can run the Turing machine constructed!